<h1>Contact us</h1>
Please let us know what you think.

<p id="notice"><%= notice %></p>
<%= render 'form' %>
</br>

<div class="well navstripe">
<div class="row-fluid">
	<div class="span4">
		<h3>Physical address</h3>
		<p>	Storgatan 1
			SE-112 01 Karlshamn
			SWEDEN
		</p>
	</div>
	<div class="span4"></div>
	<div class="span4">
		<h3>Phone</h3>
		<p>073-1031997</p>
	</div>
</div>
</div>

<div class="well navstripe">
<div class="row-fluid">

<div class="span4"><b>Spread the word</b></div>
<div class="span4">

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_pinterest_share"></a>
<a class="addthis_button_tumblr"></a>
<a class="addthis_button_google_plusone_share"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52737a9a0d887f92"></script>
<!-- AddThis Button END -->
</div>
<div class="span4">
<div class="fb-like" data-href="https://www.facebook.com/gatlinggoatstudios?ref=stream&amp;hc_location=stream" data-width="100%" data-colorscheme="light" data-layout="button" data-action="like" data-show-faces="false" data-send="false"></div>
</div>

</div>
</div>


